/* 
	Custom CSS Reset/Normalize
	by Hanna Söderström, http://hannasoderstrom.com
	
	Based on HTML5 Reset and Normalize.

	Learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	HTML5 Boilerplate			:: http://html5boilerplate.com
	Jeet Framework              :: http://jeetframework.com
	Normalize   				:: http://git.io/normalize
*/

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; *behavior: url("js/boxsizing.htc"); }
[hidden] { display: none; }

html, body, div, span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6,
p,
blockquote,
pre,
a,
abbr, acronym, address, big,
cite, code,
del, dfn,
em, 
img,
ins, kbd, q, s, samp,
small,
strike,
strong,
sub, sup, tt, var,
b, u, i, center,
dl,dt,dd,ol,ul,li,
fieldset,
form, label,
legend,
table,
caption,
tbody,tfoot,thead,tr,th,td,
article,aside,
canvas,details,embed,figure,figcaption,
footer,header,
hgroup,menu,nav,
output,ruby,
section,
summary,time,mark,
audio,video{ font:inherit; padding:0; border:0; margin:0; vertical-align:baseline; *vertical-align: middle; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html { height: 101%; overflow-y:; scroll; overflow-x:; hidden; } /* always display scrollbars */
body { font-size: 62.5%; line-height: 1; font: Helmet, Freesans, sans-serif; }
html { *filter: expression(document.execCommand("BackgroundImageCache", false, true)); }
html, button, input, select, textarea { font-family: sans-serif; }

img, video, audio, embed, object, input, iframe{ max-width: 100%; }

article,aside,
details,figcaption,figure,
footer,header,hgroup,menu,nav,section{ display:block; }
legend { border: 0; padding: 0; white-space: normal; *margin-left: -7px; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; height: 0; }

dfn { font-style: italic; }
code, kbd, pre, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; 	white-space: pre-line; word-wrap: break-word; }
q { quotes: none; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
nav ul, nav ol { list-style: none; list-style-image: none; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: top; }
svg:not(:root) { overflow: hidden; }

body:before, body:after { content: ""; display: table; }
body:after { clear: both; }
body, select, input, textarea { color: #333; }

button, input { line-height: normal; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *height: 13px; *width: 13px; }
input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
input:-moz-placeholder { color:#a9a9a9; }
input, select {vertical-align: middle;}
textarea:-moz-placeholder { color:#a9a9a9; }
textarea { overflow: auto; vertical-align: top; }
abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }
ol,ul{ list-style:none; }
blockquote,q{ quotes:none; }
blockquote:before,blockquote:after,q:before,q:after{ content:''; content:none; }
table{ border-collapse:collapse; border-spacing:0; }
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}



::-moz-selection{ background: #fcd700; color: #fff; text-shadow: none; }
::selection { background: #fcd700; color: #fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #fcd700; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0; }
ins { background-color: #fcd700; color: #000; text-decoration: none; }
mark { background-color: #fcd700; color: #000; font-style: italic; font-weight: bold; }

.chromeframe { position: absolute; top: 0; }
.chromeframe p:before, .chromeframe p:after { content: ""; display: table; }
.chromeframe p:after { clear: both; }
.chromeframe p a { color: #3a95fb; }